<section id="subscribe-section" class="container jumbotron bg-light mx-auto text-center">
    <h4>Quer mais artigos como este direto na caixa de entrada?</h4>
    <div class="row">
        <div class="col">
            <form action="https://feedburner.google.com/fb/a/mailverify"
                onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Myreli', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"
                method="post" target="popupwindow" class="form">

                <input type="hidden" value="Myreli" name="uri" />
                <input type="hidden" name="loc" value="pt_BR" />

                <div class="control-group">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Digite seu melhor e-mail">
                    </div>
                </div>


                <button class="btn btn-outline-secondary" type="submit" value="Subscribe">Conta comigo :)</button>

            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
            <!-- <script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'C0C71GHWV');  -->
            <script type='text/javascript'>kofiwidget2.init('Apoie meu trabalho (R$ 1)', '#29abe0', 'C0C71GHWV');
                kofiwidget2.draw();
            </script>
        </div>
    </div>
</section>